<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Empresa</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
   
        <tr>
          <th>Nome</th>
          <th>CNPJ</th>
          <th>Telefone</th>
          <th>Endereco</th>
          <th>Data da Fundação</th>
          <th>Proprietario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of empresas | async">
          
          <td>{{empresa.nome}}</td>
          <td>{{empresa.CNPJ}}</td>
          <td>{{empresa.telefone}}</td>
          <td>{{empresa.endereco}}</td>
          <td>{{empresa.dataFundacao | date: 'dd/MM/yyyy'}}</td>
          <td>{{empresa.proprietario}}</td>
           <td><button (click)="deleteEmpresa(empresa.id)" class="btn btn-danger">Excluir</button>
              <button (click)="empresaDetalhes(empresa.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>