<h3>Registrar Empregado</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="empregado.nome" name="nome">
    </div>

    <div class="form-group">
      <label for="name">Endereço</label>
      <input type="text" class="form-control" id="endereco" required [(ngModel)]="empregado.endereco" name="endereco">
    </div>

    <div class="form-group">
      <label for="name">Telefone</label>
      <input type="text" class="form-control" id="telefone" required [(ngModel)]="empregado.telefone" name="telefone">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="empregado.email" name="email">
    </div>

    <div class="form-group">
      <label for="name">CPF</label>
      <input type="text" class="form-control" id="cpf" required [(ngModel)]="empregado.cpf" name="cṕf">
    </div>

    <div class="form-group">
      <label for="name">Data de Nascimento</label>
      <input type="date" class="form-control" id="dataNascimento" required [(ngModel)]="empregado.dataNascimento" name="dataNascimento">
    </div>

    <div class="form-group">
      <label for="name">Função</label>
      <select id="cars" class="form-control" id="funcao" required [(ngModel)]="empregado.funcao" name="funcao">
        <option value="Administrativo">Administrativo</option>
        <option value="Supervisão">Supervisão</option>
        <option value="Gerência">Gerência</option>
        <option value="Proprietário">Proprietário</option>
      </select>

     
    </div>

    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Envio com sucesso!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
